@import 'src/styles';

$bg-color: rgb(34, 34, 34); 

.main-container {
    display: flex;
    align-items: center;
    background-color: $bg-color;
}

p {
    color: $main-color;
}

ul {
    li {
        a {
            color: $normal-text-color;
            background-color: transparent;
        }
        a:hover {
            color: $main-color;
            background-color: transparent;
        }
        a:visited {         
            background-color: transparent;
        }
    }
}
