
<div class="main-container">
  <div class="navbar-header">
    <!-- Brand -->
    <p class="navbar-brand"><strong>Simple Twitch</strong> </p>
    <!-- Features -->
    <ul class="nav navbar-nav">        
        <li>
          <a routerLink="/">Discover</a>            
        </li>
        <li>
            <a routerLink="/directory">Browse</a>
        </li> 
    </ul>
  </div>

  <!-- Search bar --> 
  <div class="form-group active-purple">
      <input class="form-control" type="text" placeholder="Search">
  </div>

</div>
