@import 'src/styles';

$bg-color: rgb(34, 34, 34);

.main-container {
    display: flex;
    align-items: center;
    background-color: $bg-color;
}

p {
    color: $main-color;
}

.list {
  display: flex;
    li:not(.active) {
        a {
            color: $normal-text-color;
        }
    }

    li {
        a {
            background-color: transparent;
        }
        a:hover {
            color: $main-color;
            background-color: transparent;
        }
        a:visited {
            background-color: transparent;
        }
    }
}

.active {
    a {
        color: $main-color;
    }
    border-bottom: 3px solid $main-color;
}

