
@import 'src/styles';

$bg-color: rgb(34, 34, 34); 
$border-color: 1px solid black;

.mainContainer {
    background-color: black;    
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    border: $border-color; 
    flex: 0 1 auto;
}

.title {
    padding: 15px;
    color: white;
    margin-bottom: 0px;
}

.contentContainer {   
    overflow: auto;
    border: 1px solid gray;
    flex: 1 1 auto;
}

.commentContainer {
    display: flex;       
    p {
        color: white;
        padding-left: 7px;
    }
}

.inputCommentContainer {
    text-align: center; 
    flex: 0 1 auto;
    background-color: black;    
    input {
        @extend .active-purple; 
        display:inline-block;        
        height: 40px;
        border-radius: 5px;
        width: 80%;
    }   
}
