

<div class="container-fluid"> 
    <div class="row mainContainer" >
        <div 
            class="col-sm-9 nopadding page" 
            [ngStyle]="{height: heightChannel}" 
            (window:resize)="onResize()" 
            #videoContainer>

            <!-- Header -->
            <app-header-channel [channel]="channel" ></app-header-channel>
            <!-- Video -->
            <!-- <iframe #iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl)" width="420" height="345"></iframe> -->
            <youtube-player
                [videoId]="id"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
                [width]="width"></youtube-player>
            <p>_Title</p>
            <p>_Title</p>
            <p>_Title</p>
            <p>_Title</p>
            <p>_Title</p>
            <p>_Title</p>
            <p>Time: {{ currentTime }}</p>
        </div>
 
        <div class="col-sm-3 nopadding">
            <!-- Chat    -->
            <app-chat *ngIf="!smallScreen"></app-chat>
        </div>
    </div>
</div>



