@import 'src/styles';

$bg-color: black; 

.main-container {
    background-color: $bg-color;    
    overflow: auto;
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-container {
    display: flex;
}

.title {
    color: $normal-text-color;
    padding-right: 20px;
}

.feature-title {
    @extend .link;
    padding-right: 20px;
    padding-bottom: 15px;
    
    font-size: 20px;    
}

.feature-title:hover {
    @extend .link-hover;
}

.container-search-bar {
    display: flex; 
    align-items: center;
    padding-top: 30px;   
    padding-bottom: 20px;
    input {
        width: 200px;
    }
}

.active {    
    color: $main-color;    
    border-bottom: 3px solid $main-color;
} 
