@import "src/styles";

.main-container {
    width: 150px;
    margin-right: 15px;
}

.name {
    @extend .link;    
}

.name {
    @extend .link-hover;
}

.image {
    border: 2px solid transparent;
}

.image:hover {
    border: 2px solid $main-color;
    cursor: pointer;
}