@import 'src/styles';

.main-container {
    width: 320px;
    padding-right: 20px; 
}

.channel-name {
    @extend .link;
    @extend .link-hover;
}

.image {
    border: 2px solid transparent;
}

.image:hover {
    border: 2px solid $main-color;
    cursor: pointer;
}