
<div class="main-container">
    <!-- Image and name -->
    <img 
        src="{{ channel.imageBase64 }}" 
        alt="{{ channel.image }}" 
        height="30"
        style="border-radius: 50%; color: white; margin-left: 10px; margin-right: 10px;">
    <a class="channel-name">{{ channel.name }}</a>
    <div class="navbar-header">
        <!-- Features -->
        <ul class="nav navbar-nav">        
            <li>
                <a routerLink="/">Home</a>            
            </li>
            <li>
                <a routerLink="/">Videos</a>
            </li> 
            <li>
                <a routerLink="/">Clips</a>
            </li> 
        </ul>
    </div>
  </div>