@import 'src/styles';

$bg-color: rgb(34, 34, 34); 
$border-color: 1px solid black;

.main-container {
    display: flex;
    align-items: center;
    background-color: $bg-color;
    border: $border-color;    
}

.channel-name {
    @extend .link;
    @extend .link-hover;
    cursor: pointer;
    font-size: 20px;
}

ul {
    li {
        a {            
            background-color: transparent;            
        }
        a:not(.active) {
            color: $normal-text-color;            
        }
    }    
}

ul {
    li {
        a:hover {
            color: $main-color;
            background-color: transparent;
        }
    }
}

ul {
    li {
        a:visited {         
            background-color: transparent;
        }
    }
}

.active {    
    color: $main-color;    
    border-bottom: 3px solid $main-color;
} 