
<div class="main-container">
    <!-- Image and name -->
    <img src="assets/img/c3.png" alt="_name" height="30">
    <a class="channel-name">_name</a>
    <div class="navbar-header">
        <!-- Features -->
        <ul class="nav navbar-nav">        
            <li>
                <a routerLink="/">Home</a>            
            </li>
            <li>
                <a routerLink="/">Videos</a>
            </li> 
            <li>
                <a routerLink="/">Clips</a>
            </li> 
        </ul>
    </div>
  </div>