/* You can add global styles to this file, and also import other style files */
$main-color: #c466d4;
$normal-text-color: white;

.active-purple {
    background-color: rgb(85, 85, 85);
    color: white;
    border: 2px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.active-purple:focus {
    border: 2px solid $main-color;
    box-shadow: 0 0 0 1px $main-color;
    background-color: black;
}

::placeholder {
    color: rgb(196, 196, 196);
}

.link {
    color: $normal-text-color;
    text-decoration: none;
}

.link-hover:hover {
    color: $main-color;
}

.nopadding {
    // padding: 0 !important;
    // margin: 0 !important;
    padding: 0;
    margin: 0;
 }

 ::selection {
    color: $normal-text-color;
    background: $main-color;
}
