.main-container {
  margin-bottom: 10px;
}

.main-container:hover {
    background: rgba(160, 160, 160, 0.178);
    cursor: pointer;
}
.channel-name {
    color: white;
    margin: 5px;
}

.channel-item {
  display: flex;
  align-items: center;

  img {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .channel-name {
    display: none;
  }
}
